
.idea/.idea.CodenamesProject.dir/.idea/encodings.xml
.idea/.idea.CodenamesProject.dir/.idea/indexLayout.xml
.idea/.idea.CodenamesProject.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.CodenamesProject.dir/.idea/vcs.xml
CodenamesServer/.idea/.idea.CodenamesServer/.idea/workspace.xml
CodenamesServer/.idea/.idea.CodenamesServer/.idea/vcs.xml
CodenamesServer/.idea/.idea.CodenamesServer/.idea/projectSettingsUpdater.xml
CodenamesServer/.idea/.idea.CodenamesServer/.idea/indexLayout.xml
CodenamesServer/.idea/.idea.CodenamesServer/.idea/encodings.xml
.idea/.idea.CodenamesProject.dir/.idea/workspace.xml
